*{
    margin: 0;
    box-sizing: border-box;
}

body{
    padding-top: 180px;
}

.buyStepsFlexbox{
    display: flex;
    gap: 16px;
    justify-content: center;
    padding: 0 32px;
}

.buyStepsFlexbox .buyColumn{
    background-color: #FFF;
    border: 1.5px solid #B17143;
    border-radius: 16px;
    width: calc(20% - 16px);
    text-align: center;
    padding: 52px 16px 16px;
    position: relative;
    color: #122A44;
}

.buyFloatingImg{
    position: absolute;
    top: -38px;
    left: calc(50% - 38px);
    width: 76px;
    height: 76px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    border: 1.5px solid #B17143;
}

.buyColumn p{
    margin: 0;
    font-size: 16px;
}

.buyColumn img{
    max-width: 100%;
    width: 40px;
}

@media (max-width: 500px){
    .buyStepsFlexbox{
        overflow-x: scroll;
        justify-content: flex-start;
    }
    .buyStepsFlexbox .buyColumn{
        width: 75%;
        flex-shrink: 0;
    }
}